html body {
    font-family: 'Kanit', sans-serif;
    background-color: #100E17;
    color: #fff;
    
}

.container {
    margin-top: 150px;
}



.white, .white a {
    color: #fff;
}



.btn:focus {
    outline: none;
    box-shadow: none;
}

#content {
    margin-top: 200px;
}

.head {
    margin-bottom: 50px;
}

.bg-custom-1 {
    background-color: #1F1E24!important;

}
.list-group-item-custom-1 {
    background-color: #1F1E24!important;

}
.badge-custom-1 {
    background-color: #0D9782;

}
#img-in {
    width: 100px;
}
.hideme {
    opacity:0;
}

footer {
    margin: 100px 50px 50px 50px
}
