html body {
    font-family: 'Kanit', sans-serif;
    background-image: url(bg.jpg);

    background-position: center;
    
}

.container {
    background-color: rgba(255, 255, 255, 0.397);
    margin-top: 50px;
    border-radius: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

#left {
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    padding: 20px;
    border-radius: 15px;

}
#right {
    margin-left: 20px;
    margin-right: 20px;
    margin-top:  150px

}

.card {
    display: flex;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    border-radius: 15px;
   
}
#showPhone, #showMail, #showCom {
    margin-bottom: 0px;
}

img {
    width: 100px;
   
    position: absolute;
}